@{
    ViewBag.Title = "Kontakt";
}
<h2  style="text-align:center;">@ViewBag.Title</h2>
<h3  style="text-align:center;">Oddział BU1</h3>

<address style="text-align:center;">
    Al. Grunwaldzka 137<br />
    82-300 Elbląg<br />
    <abbr title="telefon">tel.:</abbr>
    +48 55 629 05 31
</address>

<address  style="text-align:center;">
    <strong>E-mail:</strong>   <a href="mailto:bu1@ans-elblag.pl">bu1@ans-elblag.pl</a><br />
    <strong>E-mail do pracownika:</strong> <a href="mailto:i.osmulska@ans-elblag.pl">i.osmulska@ans-elblag.pl</a>
</address>
<address  style="text-align:center;">
    <u>Godziny otwarcia:</u><br />
    Biblioteka jest czynna w godzinach<br />
    <strong>poniedziałek - czwartek 8.00 - 18.00<br />
    piątek 8.00-16.00<br />
    sobota 9.00-15.00<br />
    </strong>
</address>