@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:dimgrey">
    <h1>Zostań naszym czytelnikiem</h1>
    <p class="lead">"Czytanie dobrych książek jest niczym rozmowa z najwspanialszymi ludźmi minionych czasów" ~ Kartesjusz</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Zapisz się &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nasze nowości</h2>
        <p>
            Co tydzień uszczęśliwiamy naszych czytelników nowymi tytułami, które proszą się o wypożyczenie. Wejdź i sprawdź co nowego czego na ciebie od tego tygodnia.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Nowości &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nasze książki</h2>
        <p>Sprawdź czy mamy książkę, która cię interesuje. Jeśli tak dowiedz się od razu, czy jest dostępna od ręki.</p>
        <p><a class="btn btn-default" href="/BooksAsCustomer">Lista książek &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sprawdź, gdzie nas szukać</h2>
        <p>Zdecydowałeś się na jedną z naszych książek? Nie zwlekaj zanim ktoś Ci ją wypożyczy. Sprawdź gdzie możesz ją dostać.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Kontakt &raquo;</a></p>
    </div>
</div>